:root {

}

/****************************
* Grid Group
*****************************/

.GridGroup {
  display: flex;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}


/****************************
* Grid Group -- Alignment
*****************************/

.GridGroup--alignStart {
  align-items: flex-start;
}

.GridGroup--alignCenter {
  align-items: center;
}

.GridGroup--alignEnd {
  align-items: flex-end;
}


/****************************
* Grid Group -- Justify
*****************************/

.GridGroup--spaceBetween {
  justify-content: space-between;
}

.GridGroup--spaceAround {
  justify-content: space-around;
}

.GridGroup--justifyCenter {
  justify-content: center;
}

.GridGroup--justifyStart {
  justify-content: flex-start;
}

.GridGroup--justifyEnd {
  justify-content: flex-end;
}


/****************************
* Grid Group -- Direction
*****************************/

.GridGroup--column {
  flex-direction: column;
}

.GridGroup--row {
  flex-direction: row;
}


/****************************
* Grid Group -- Wrapping
*****************************/

.GridGroup--wrap {
  flex-wrap: wrap;
}

.GridGroup--nowrap {
  flex-wrap: nowrap;
}

.GridGroup--wrapreverse {
  flex-wrap: wrap-reverse;
}


/****************************
* Grid Cell Sizes
*****************************/

.GridCell {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.GridCell--full {
  flex-basis: 100%;
}

.GridCell--half {
  flex-basis: 50%;
}

.GridCell--third {
  flex-basis: 33.33%;
}

.GridCell--quarter {
  flex-basis: 25%;
}

.GridCell--fifth {
  flex-basis: 20%;
}

.GridCell--sixth {
  flex-basis: 16.67%;
}

.GridCell--eighth {
  flex-basis: 12.5%;
}

.GridCell--tenth {
  flex-basis: 10%;
}

.GridCell--twelfth {
  flex-basis: 8.33%;
}

.GridCell--sixteenth {
  flex-basis: 6.25%;
}


/****************************
* Grid Cell Alignment Exceptions
*****************************/

.GridCell--start {
  align-self: flex-start;
}

.GridCell--center {
  align-self: center;
}

.GridCell--end {
  align-self: flex-end;
}
